:root{
--primary-title-color: #212121;
--primary-text-color: #757575;
--accent-color: #2196F3;
--primary-white-color: #FFFFFF;
--secondary-white-color:#F5F4FA;
--primary-background-colorrgba: rgba(47, 48, 58, 0.8);
}
ul{
    list-style-type: none;
}
body{

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
    
    background: var(--primary-white-color);
           
}
.link{

    text-decoration: none;
}

/* Header navigation */
.navigation-list-item-link{
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;
    
    color: var(--primary-title-color);
    
}

.navigation-list a:hover,
.navigation-list a:focus{

    color: var(--accent-color);

}

/* Header Adress */
.header-address-mail{

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.02em;
    
    color:  var(--primary-text-color);
}
.header-address-tel{

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.02em;
    
    color: var(--primary-text-color);

}
.header-address a:hover,
.header-address a:focus{

    color: var(--accent-color);
}

/* Logotip */
.Logo-full{

    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    color: var(--primary-title-color);

}
.Logo {
    
    color: var(--accent-color);
}

/* Главная  часть */
.main-part-title {

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
   
    color: var(--primary-white-color);
    background: var(--primary-background-colorrgba);
}
.main-part-btn {
  
    font-family: inherit;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    

    background: var(--accent-color);
    border-radius: 4px;
    color:var(--primary-white-color);

    /* Наши преимущества */
}
.advantage-list-item-title{
 

    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
    
    color: var(--primary-title-color);
}
.advantage-list-item-text{

    font-size: 14px;
    line-height: 1.71;
    
    color: var(--primary-text-color);

}
.second-title{


    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    
    color: var(--primary-title-color);

    /* Чем мы занимаемся */
}
.works-list-item-text{
   
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    text-transform: uppercase;
    
    color: var(--primary-white-color);
    background: var(--primary-background-colorrgba);
}


/* Сотрудники */
.team{

    background: var(--secondary-white-color);
    
}

.team-list{
    
    background: var(--primary-white-color);
    
}
.team-list-item-name{

  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    
    color: var(--primary-title-color);
}

.team-list-item-profession{

    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    
    color: var(--primary-text-color);
    
}

/* Клиенты */

.clients-list a:hover,
.clients-list a:focus{

    color: var(--accent-color);
}

/* Footer */

.footer {

    background: #2F303A;
}
/* Footer Logo */

.footer-logo{

    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    
    color: var(--primary-white-color);

}
.footer-address-text{
    
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    
    color: var(--primary-white-color);
}

.footer-address-text-link{

    font-size: 14px;
    line-height: 1.71px;
       
    color: rgba(255, 255, 255, 0.6);

}

.footer-address a:hover,
.footer-address a:focus{

   color: var(--accent-color);
}
.social-icons-title{
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;

    color: var(--primary-white-color);

}

/* Footer кнопки */
.mailing-list-btn{
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    font-family: inherit; 
    letter-spacing: 0.06em;

    color:var(--primary-white-color);
    background: var(--accent-color);
}
.mailing-list-input{
 
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25px;
         
    
    background: #2F303A;
    color: rgba(255, 255, 255, 0.6);

    /* Страница портфолио */
}
.projects-list-btn{
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    font-family: inherit;

    text-align: center;

    color: var(--primary-title-color);
    background: var(--secondary-white-color);
}
.projects-list-btn:hover,
.projects-list-btn:focus{

    color: var(--primary-white-color);
    background: var(--accent-color);

}
.projects-works-title{
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;

    color: var(--primary-title-color);
}
.projects-works-name{
   
    font-size: 16px;
    line-height: 1.87;
    
    color: var(--primary-text-color);
}
.projects-works-text{

    font-weight: normal;
    font-size: 18px;
    line-height: 1.56px;

    color: #000000;
} 
    
    
